body {
	margin: 0;
	padding: 0;
}
#navbar {
	background: black;
	padding: 20px;
}
.product {
	width: 100%;
}
.product-image{
	float: left;
	width: 50%;
}
.product-image img {
	max-width: 50%;
}
.product-info
{
	width: 50%;
	float: right;
}
.add-to-cart {
	background: green;
	color: #fff;
	padding: 15px;
	cursor: pointer;
}
.btn {
	font-size: 20px;
}
.btn:focus {
	border: none;
	outline: none;
}
.view-cart {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
}